<!DOCTYPE html>
<html>
<head>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand" href="/community">SleepData: Community</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li> <a href="/personal">Personal</a> </li>
          <li> <a href="/tasks">Home Tasks</a> </li>
          <li> <a href="/community">Community</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <title>Community</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/sleepData.css" rel="stylesheet">
</head>


<script type="text/javascript">
window.onload = function () {
  var chart = new CanvasJS.Chart("chartContainer",
  {

    title:{
      text: "Community Sleep Data"
    },
    axisX: {
      title: "Time",
    },
    axisY: {
      title: "Quality",
      interval: 25
    },
    data: [
    {
      type: "area",
      dataPoints: [
      {{#each communitydata}}
      { x: new Date( {{year}}, {{month}}, {{day}} ), y: {{y}} },
      {{/each}}
      ]
    }
    ]
  });
  chart.render();
}
</script>

<body>
  <div class="container">
    <h2>Global Data</h2>
   <div id="chartContainer" style="height: 400px; width: 100%;">
   </div>

    <h2>Case Studies</h2>

    <div class="alert alert-success alert-dismissible fade in" role="alert" id="submitAlert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Thanks!</strong> Your analysis will be used for science.
    </div>

    <div class="form-group">
        <label for="comment">What do you think about all this great community data?:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>

    <div class="form-group">
        <label for="comment">Put stuff for scientists here:</label>
        <textarea class="form-control" rows="5" id="comment2"></textarea>
    </div>

    <button type="button" id="postCommunity" class="btn btn-primary">Post data for community</button>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.canvasjs.min.js"></script>
    <script src="/js/community.js"></script>
  </div>

</body>
</html>
