<!DOCTYPE html>
<html>
<head>
  <title>Info</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/sleepData.css" rel="stylesheet">

</head>
<body>

  <h>Participant Consent Form<h>
  <p>The purpose of this usability study is to evaluate the design of the site sleepdata.herokuapp.com.  We are interested in determining if people can accomplish common tasks and easily find information using this site.  The session will not ‘test' you or your ability, rather the session will test the site to provide information on areas that might be improved.  Please be advised that there are no risks associated with participation in this session.


During this session, you will be asked to complete some tasks using the website.  As you complete the tasks, members of the User Experience Group and project team will observe and take notes.  In addition, the session will be captured on video for future review.  The session will last no longer than one hour and fifteen minutes. 


If for any reason you are uncomfortable during the session and do not want to complete a task, you may say so and we will move on to the next task.  In addition, if you do not want to continue, you may end the session and leave at any time.


Approximately 5 people will participate in this study.  Results from all sessions will be included in a usability report to be presented to the development team. Your name will not be included in the report nor will your name be associated with any session data collected.


If you wish to speak with someone about your participation in this study, or if you feel you were not treated as described above, please contact rarin@ucsd.edu. </p>


<p>I, ______________________________________________, have read and fully understand the extent of the study and any risks involved.  All of my questions, if any, have been answered to my satisfaction.  My signature below acknowledges my understanding of the information provided in this form and indicates my willingness to participate in this user testing session. I have been given a blank copy of this consent form for my records.</p>


<p>Signature:______________________________              Date:________________ </p>

</body>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/login.js"></script>

</html>