<!DOCTYPE html>
<html>
  <head>
	<ul class = "topnav">  
      <li> <a href="/home">Home</a> </li>
      <li> <a href="/tasks">Tasks</a> </li>
      <li> <a href="/personal">Personal</a> </li>
      <li> <a href="/community">Community</a></li>
      <li style="float:right"> <a class ="active" href="/login">Login</a></li>
    </ul>

    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/sleepData.css" rel="stylesheet">

  </head>
  <body>
  	<p>login screen here</p>
  </body>
</html>